<!doctype html>
<html lang="en">

<head>
  <title>Lampropertis</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="/img/icon.png">
  <!-- Bootstrap CSS v5.2.0-beta1 -->
  <link rel="stylesheet" href="/css/bootstrap.min.css" crossorigin="anonymous">

</head>

<body>

    <nav class="navbar navbar-expand navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Lampropeltis</a>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="nav-link" href="/nosotros">Nosotros</a>
              </li>


            </ul>

            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/"></a>
                </li>
            </ul>

            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/"></a>
                </li>
            </ul>

            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/"></a>
                </li>
            </ul>
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="btn btn-success" href="/user/login">Iniciar Sesión</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/"></a>
              </li>
              <li class="nav-item">
                <a class="btn btn-warning" href="/registro">Registrarse</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/"></a>
              </li>

              <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <strong> Login as Admin</strong>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/admin/login">Login Admin</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item active" href="/superAdmin/login">Login SuperAdmin</a></li>
                    </ul>
                  </li>

            </ul>


          </div>
        </div>
      </nav>





    <div class="container">
        <br>
