{% include 'sitio/cabecera.html' %}


<div class="row ">
    <div class="col-md-1">
    </div>
    <div class="col-md-5">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">¿Quienes somos?</h1>
                <p class="card-text">La mejor red social de imagenes del mundo!<br> Tu mejor elección</p>
            </div>
            <img width="50" class="card-img-top" src="img/about_us.jpg" alt="Title">
        </div>
    </div>
    <div class="col-md-5">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">¿Contactenos?</h1>
                <p class="card-text">tel: +57 1111111111 <br>
                    contactenos@lampropeltis.com
                </p>
            </div>
            <img width="50" class="card-img-top" src="img/contact-us.jpg" alt="Title">
        </div>
    </div>
</div>


{% include 'sitio/pie.html' %}
