<!DOCTYPE html>

<html>
  <head>
    <title>Formulario de registro</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/sitio/css/register.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/icon.png">
  </head>
<body>

  <div class="container">
    <div class="title">Registro Nuevo Usuario</div>
    <div class="content">
      <form action="/registro" method="post" name="formRegistro" id="formRegistro">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Nombre Completo</span>
            <input type="text" name="txtNombre" id="txtNombre" placeholder="Escribe tu nombre completo" required>
          </div>
          <div class="input-box">
            <span class="details">Usuario</span>
            <input type="text" name="txtUsuario" id="txtUsuario" placeholder="Escribe tu usuario" required>
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" name="txtEmail" id="txtEmail" placeholder="Escribe tu email" required>
          </div>
          <div class="input-box">
            <span class="details">Número de Telefóno</span>
            <input type="text" name="txtTelefono" id="txtTelefono" placeholder="Escribe tu número de telefono" required>
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="password" name="txtPassword" id="txtPassword" placeholder="Escribe tu password" required>
          </div>
          <div class="input-box">
            <span class="details">Confirmar Password</span>
            <input type="password" name="txtPassword2" id="txtPassword2" placeholder="Confirmar tu password" required>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Registro">
        </div>
        <div >
            <a name="" id="" href="/" role="button">Volver</a>
        </div>
      </form>
    </div>
  </div>

</body>
</html>

