<!doctype html>
<html lang="en">

<head>
  <title>Lampropeltis</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="/img/icon.png">

  <!-- Bootstrap CSS v5.2.0-beta1 -->
  <link rel="stylesheet" href="/user/css/bootstrap.min.css" crossorigin="anonymous">

</head>

<body>

    <nav class="navbar navbar-expand navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/user">Lampropeltis</a>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="nav-link" href="posts">Ver Posts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="crearPost">Crear Post</a>
              </li>


            </ul>

            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href=""></a>
                </li>
            </ul>

            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Buscar Amigos Aqui" aria-label="Search">
                <button class="btn btn-info" type="submit">Buscar</button>
              </form>
            </ul>

            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href=""></a>
                </li>
            </ul>


            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                  <li class="nav-item">
                    <a class="btn btn-success" href="cerrar">Cerrar Sesion</a>
                  </li>
            </ul>


          </div>
        </div>
      </nav>





    <div class="container">
        <br>
