{% include 'user/cabecera.html' %}


<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">

            <div class="card">
                <div class="card-header">
                    Crear nuevo Post
                </div>

                <div class="card-body">
                    <form action="/user/post/guardar" method="post" enctype="multipart/form-data">

                        <div class="mb-3">
                            <label for="txtImagen" class="form-label">Imagen:</label>
                             <input type="file" class="form-control" name="txtImagen" id="txtImagen" aria-describedby="helpId" placeholder="Seleccione la imagen">
                        </div>

                        <div class="mb-3">
                            <label for="txtDescripcion" class="form-label">Descipcion:</label>
                            <input type="text" class="form-control" name="txtDescripcion" id="txtDescripcion" aria-describedby="helpId" placeholder="Escriba la descripción de la habitación">
                        </div>

                        <button type="submit" class="btn btn-primary">Agregar</button>

                    </form>
                </div>
                <div class="card-footer text-muted">

                </div>
            </div>

        </div>

    </div>
</div>


{% include 'user/pie.html' %}
