<!DOCTYPE html>

<html>
  <head>
    <title>Iniciar Sesión</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/user/css/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/icon.png">

  </head>
<body>

  <div class="container">
    <div class="title">Iniciar Sesión</div>
    <div class="content">
      <form action="/user/login" method="post" name="formInicioSesion" id="formInicioSesion">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" name="txtUsuario" id="txtUsuario" placeholder="Escribe tu email" required>
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="password" name="txtPassword" id="txtPassword" placeholder="Escribe tu password" required>
          </div>
        </div>

        {% if mensaje %}
        <div class="alert alert-danger" role="alert">
          <strong>{{mensaje}}</strong> Usuario y/o contraseña Incorrectos
        </div>
        {% endif %}

        <div class="button">
          <input type="submit" value="Iniciar Sesión">
        </div>
        <div >
            <a name="" id="" href="/" role="button">Volver</a>
        </div>
      </form>
    </div>
  </div>

</body>
</html>

